@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "mixin";
html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    body{
        font-size: 16px;
    }

    p{
        font-family: 'Montserrat', sans-serif;
    }
}

*,*:after,*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}